<p>Bonjour <%= name %></p>
<button id="bouton">Modify</button>
<input type="text" id="entree" placeholder="Choose a name..." />
<script type="text/javascript" src="app.js"></script>
<!-- // <script type="text/javascript">
//   console.log('loading client script');
//   document.getElementById('bouton').addEventListener('click', function(ev) {
//     console.log('clicked', );
//     var name = document.getElementById('entree').value
//     document.getElementById('name').innerHtml = name;
//   });
// </script> -->