doctype html
html(lang="fr")
  head
    title My Own Bookmarks
    link(rel="stylesheet", href="app.css")

  body
    h1 Welcome on My Own Bookmarks
    p(id="connexion-status") retreiving...
    p This application will help you manage your bookmarks!
    form(id="add-form")
        label Title:
        input(type="text", id="title")
        label Url:
        input(type="text", id="url")
        input(type="submit", id="btn-add", value="Add a new bookmark")
    ul(id="bookmarks-list")
        - for(bookmark in bookmarks) {
        li
            a(href=bookmarks[bookmark].doc.url)= bookmarks[bookmark].doc.title
            | &nbsp;- (
            a(href="delete/#{bookmarks[bookmark].id}") delete
            | )
        - }
    script(type='text/javascript' src='bundle.js')
